<!-- src\app\dashboard\sidebar\header\header.component.html -->

<header
  class="sticky top-0 z-10 bg-green-800 text-gray-700 px-6 py-3 flex items-center justify-between shadow-sm h-20"
>
  <div class="flex items-center">
    <img
      src="assets/img/logo/gsis.svg"
      alt="GSIS Logo"
      class="w-12 h-12 transition-all duration-300 mr-4"
    />
    <span class="ml-2 text-xl font-semibold text-white"
      >Government Service Insurance System</span
    >
  </div>

  <div class="flex items-center space-x-4">
    <button
    (click)="navigateToMessage()"

      class="p-1 rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-50 transition duration-150 ease-in-out"
    >
      <i class="fas fa-envelope text-gray-50 text-lg"></i>
    </button>
    <button
      class="p-1 rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-50 transition duration-150 ease-in-out"
    >
      <i class="fas fa-bell text-gray-50 text-lg"></i>
    </button>

    <button
    (click)="navigateToProfile()"

      class="rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-50 transition duration-150 ease-in-out"
    >
      <img
        src="assets/img/bini.jpeg"
        alt="Profile"
        class="w-12 h-12 rounded-full object-cover border-2 border-gray-50"
      />
    </button>
  </div>
</header>
