<header
  class="bg-white text-gray-700 px-6 py-4 flex items-center justify-between shadow-sm"
>
  <div class="relative flex-grow max-w-2xl">
    <input
      type="text"
      placeholder="Search..."
      class="w-full py-2 pl-10 pr-4 rounded-lg focus:outline-none bg-gray-100 border border-gray-300 text-gray-700 placeholder-gray-500 focus:border-blue-400 focus:ring-2 focus:ring-blue-400 focus:ring-opacity-50 transition duration-150 ease-in-out"
    />
    <div
      class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
    >
      <i class="fas fa-search text-gray-400"></i>
    </div>
  </div>

  <div class="flex items-center space-x-4">
    <button
      class="p-2 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-150 ease-in-out pulse-bg animate-pulse"
    >
      <i class="fas fa-video text-blue-600 text-lg"></i>
    </button>
    <button
      class="p-2 rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-150 ease-in-out"
    >
      <i class="fas fa-envelope text-blue-600 text-lg"></i>
    </button>
    <button
      class="p-2 rounded-full hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-150 ease-in-out"
    >
      <i class="fas fa-bell text-blue-600 text-lg"></i>
    </button>

    <div class="flex items-center space-x-3">
      <img
        src="assets/img/bini.jpeg"
        alt="Profile"
        class="w-10 h-10 rounded-full object-cover border-2 border-blue-400"
      />
      <div>
        <h1 class="text-sm text-gray-900 font-semibold">Anton</h1>
        <h2 class="text-xs text-blue-600 font-medium">{{ getUserRole() }}</h2>
      </div>
    </div>
  </div>
</header>
