<div class="container mx-auto py-6">
  <div class="flex flex-col lg:flex-row gap-6">
    <!-- Sidebar -->
    <aside class="lg:w-1/4 w-full bg-white shadow-lg rounded-lg p-6">
      <div class="mb-4">
        <h2 class="text-3xl font-bold text-gray-900 mb-4">{{ course.course }}</h2>

     

        <div class="flex items-center mb-4">
          <img [src]="course.instructor_profile" alt="Instructor" class="w-12 h-12 rounded-xl mr-4" />
          <div>
            <p class="text-lg font-semibold text-gray-600">{{ course.instructor }}</p>
            <p class="text-sm font-semibold text-gray-500">Instructor</p>

          </div>
        </div>
      </div>
    
      <div class="flex justify-between text-gray-500 text-sm my-4">
        <div class="flex items-center">
          <i class="fas fa-user mr-2 text-green-500"></i>
          <span>{{ course.enrolledStudents.length }} Students</span>
        </div>
        <div class="flex items-center">
          <i class="fas fa-book mr-2 text-green-500 "></i>
          <span>{{ course.modules.length }} Modules</span>
        </div>
        <div class="flex items-center">
          <i class="fas fa-clock mr-2 text-green-500"></i>
          <span>{{ course.time }}</span>
        </div>
      </div>
    
      <div class="flex justify-between items-center text-gray-700 mb-4">
        <span class="text-lg font-semibold">Course Modules</span>
      </div>
    
      <ul class="space-y-3">
        <li *ngFor="let module of course.modules; let i = index" class="cursor-pointer">
          <div
            class="flex items-center justify-between p-3 rounded-lg transition-colors duration-300"
            [ngClass]="{
              'bg-gray-100 text-gray-900 font-semibold': selectedModuleIndex === i,
              'bg-white hover:bg-gray-50 text-gray-700': selectedModuleIndex !== i
            }"
            (click)="selectModule(i)"
          >
            <div class="flex items-center">
              <span class="text-lg w-10 h-10 flex items-center justify-center bg-gray-200 rounded-xl mr-4">{{ i + 1 }}</span>
              <span>{{ module.title }}</span>
            </div>
            <span class="text-sm text-gray-500">{{ module.duration }}</span>
          </div>
        </li>
      </ul>
    
      <div class="flex justify-center mt-6">
        <button
          class="w-full py-2 text-lg font-semibold bg-green-500 text-white rounded-md hover:bg-green-600 transition-all duration-300"
          [disabled]="selectedModuleIndex >= course.modules.length - 1"
          (click)="goToNextModule()"
        >
          NEXT
        </button>
      </div>
    </aside>
    
    
    

    <!-- Main Content -->
    <main class="lg:w-3/4 w-full space-y-6">
      <!-- Editing Mode Toggle -->
   

      <!-- Module Content -->
      <section class="bg-white shadow-lg rounded-lg p-6">
        <div *ngIf="!isEditing"  class="flex justify-between"> 
        <h2 class="text-3xl font-bold text-gray-800 mb-4">{{ course.modules[selectedModuleIndex].title }}</h2>
        <button *ngIf="getUserRole() === 'instructor' || getUserRole() === 'department_admin'"
        class="text-xl text-blue-600 hover:text-blue-700 rounded-md  transition-all duration-300"
        (click)="toggleEditing()">
  <i class="fas fa-edit"></i> {{ isEditing ? '' : '' }}
</button>

     
      </div>   
     <div *ngIf="isEditing" class="flex justify-between gap-x-6"> 
     <input  type="text" class="w-full text-3xl font-bold p-3 border border-gray-300 rounded-md" [(ngModel)]="course.modules[selectedModuleIndex].title" />
     <button *ngIf="getUserRole() === 'instructor' || getUserRole() === 'department_admin'"
     class=" text-3xl text-green-600 hover:text-green-700 rounded-md  transition-all duration-300"
     (click)="toggleEditing()">
      <i class="fas fa-check"></i> {{ isEditing ? '' : '' }}
    </button>

    </div>
        <p *ngIf="!isEditing" class="text-gray-700">{{ course.modules[selectedModuleIndex].description }}</p>
        <textarea *ngIf="isEditing" class="w-full text-gray-700 p-3 border border-gray-300 rounded-md mt-4" [(ngModel)]="course.modules[selectedModuleIndex].description"></textarea>

        <p *ngIf="!isEditing" class="text-gray-600 mt-6">{{ course.modules[selectedModuleIndex].about }}</p>
        <textarea *ngIf="isEditing" class="w-full text-gray-600 p-3 border border-gray-300 rounded-md mt-4" [(ngModel)]="course.modules[selectedModuleIndex].about"></textarea>
      </section>

      <!-- Tab Navigation -->
      <nav class="border-b border-gray-300 mb-4">
        <div class="flex space-x-8">
          <button 
            *ngFor="let tab of [
              { key: 'materials', label: 'Materials' },
              { key: 'assignments', label: 'Assignments' },
              { key: 'quiz', label: 'Quiz' },
              { key: 'exams', label: 'Exams' }
            ]" 
            (click)="selectTab(tab.key)" 
            [ngClass]="{ 
              'text-green-600 border-b-4 border-green-600': selectedTab === tab.key, 
              'text-gray-500 hover:text-gray-700 hover:border-gray-300 pb-3 border-b-4 border-transparent transition-all duration-300': selectedTab !== tab.key 
            }" 
            class="text-lg font-medium"
          >
            {{ tab.label }}
          </button>
          
          <!-- Conditionally display Student Management tab -->
          <button 
            *ngIf="getUserRole() === 'department_admin' || getUserRole() === 'instructor'"
            (click)="selectTab('studentManagement')" 
            [ngClass]="{ 
              'text-green-600 border-b-4 border-green-600': selectedTab === 'studentManagement', 
              'text-gray-500 hover:text-gray-700 hover:border-gray-300 pb-3 border-b-4 border-transparent transition-all duration-300': selectedTab !== 'studentManagement' 
            }" 
            class="text-lg font-medium"
          >
            Student Management
          </button>
        </div>
      </nav>
      

      <!-- Tab Content -->
      <section *ngIf="selectedTab === 'materials'" class="space-y-4">
        <h3 class="text-2xl font-bold text-gray-800">Materials</h3>
        <div *ngFor="let material of course.modules[selectedModuleIndex].materials" class="p-4 border border-gray-200 rounded-lg flex items-center justify-between cursor-pointer transition-all duration-300 hover:shadow-md">
          <div class="flex items-center">
            <i class="fas" [ngClass]="getMaterialIcon(material.type)" class="text-xl text-gray-700 mr-4"></i>
            <div>
              <h4 *ngIf="!isEditing" class="text-lg font-semibold text-gray-800">{{ material.index }}. {{ material.title }}</h4>
              <input *ngIf="isEditing" type="text" class="w-full text-lg font-semibold p-2 border border-gray-300 rounded-md" [(ngModel)]="material.title" />
            </div>
          </div>
          <div class="text-sm text-gray-500 flex items-center">
            <button *ngIf="!isEditing" (click)="downloadMaterial(material, $event)" class="text-blue-500 hover:text-blue-700 transition-all duration-300">
              <i class="fas fa-download"></i>
            </button>
            <input *ngIf="isEditing" type="file" (change)="replaceMaterialFile(material, $event)" class="ml-4" />
          </div>
        </div>
      </section>

      <section *ngIf="selectedTab === 'assignments'" class="space-y-6">
        <div *ngIf="!showAssignmentDetails" class="space-y-4">
          <h3 class="text-2xl font-bold text-gray-800">Assignments</h3>
          <div *ngFor="let assignment of course.modules[selectedModuleIndex].assignments; let i = index" class="p-6 bg-white border border-gray-200 rounded-lg shadow-sm cursor-pointer hover:shadow-lg transition-transform transform hover:scale-105" (click)="showDetails(i)">
            <h4 class="text-lg font-semibold text-gray-800">{{ assignment.name }}</h4>
            <p class="text-gray-600 mt-2">Due Date: {{ assignment.dueDate | date:'fullDate' }}</p>
          </div>
        </div>
        <div *ngIf="showAssignmentDetails" class="bg-white p-8 rounded-lg shadow-md">
          <button class="text-blue-600 hover:underline mb-6 flex items-center" (click)="hideDetails()">
            <i class="fas fa-arrow-left mr-2"></i>Back to Assignments
          </button>
          <div *ngIf="selectedAssignment">
            <h1 class="text-3xl font-bold text-gray-900 mb-4">{{ selectedAssignment.name }}</h1>
            <p class="text-sm text-gray-500">{{ selectedAssignment.instructor }}</p>
            <p class="text-lg text-gray-600 mt-4 mb-6">Due Date: {{ selectedAssignment.dueDate | date:'fullDate' }}</p>
            <h2 class="text-xl font-semibold mb-4 text-gray-800">Details</h2>
            <p class="text-gray-700 leading-relaxed">{{ selectedAssignment.details || 'No details available.' }}</p>
            <h2 class="text-xl font-semibold mt-8 mb-4 text-gray-800">Resources</h2>
            <div *ngIf="selectedAssignment.resources" class="space-y-2">
              <div class="flex items-center space-x-2">
                <i class="fas fa-file-pdf text-red-500"></i>
                <a [href]="selectedAssignment.resources" target="_blank" class="text-blue-600 hover:underline font-medium">View Resource</a>
              </div>
            </div>
            <p *ngIf="!selectedAssignment.resources" class="text-gray-600">No resources available.</p>
            <h2 class="text-xl font-semibold mt-8 mb-4 text-gray-800">Submission</h2>
            <p *ngIf="!selectedAssignment.submitted" class="text-gray-600 mb-4">You have not submitted this assignment yet.</p>
            <div *ngIf="!selectedAssignment.submitted">
              <div *ngIf="!fileUploaded" class="flex items-center space-x-4">
                <div class="relative">
                  <input type="file" id="fileUpload" (change)="onFileSelected($event)" class="hidden" />
                  <label for="fileUpload" class="flex items-center justify-center w-full max-w-xs px-5 py-3 bg-green-500 text-white text-lg font-semibold rounded-lg shadow-md cursor-pointer hover:bg-green-600 transition-all duration-300">
                    <i class="fas fa-upload mr-2"></i> Choose File
                  </label>
                </div>
              </div>
            
              <div *ngIf="fileUploaded" class="flex items-center space-x-4">
                <button class="py-3 px-8 bg-yellow-500 text-white text-lg font-semibold rounded-lg hover:bg-yellow-600 shadow-md transition-all duration-300" (click)="changeFile()">Change File</button>
                <button class="py-3 px-8 bg-blue-600 text-white text-lg font-semibold rounded-lg hover:bg-blue-700 shadow-md transition-all duration-300" (click)="submitAssignment()">Submit</button>
              </div>
            </div>
            
            
            <div *ngIf="selectedAssignment.submitted" class="text-green-600 mt-4 font-medium">
              <p>Assignment submitted successfully!</p>
            </div>
          </div>
        </div>
      </section>

      <section *ngIf="selectedTab === 'exams'" class="space-y-4">
        <h3 class="text-2xl font-bold text-gray-800">Exams</h3>
        <div *ngFor="let exam of course.modules[selectedModuleIndex].exams; let i = index" class="p-4 border border-gray-200 rounded-lg">
          <div *ngIf="isEditing">
            <input type="text" class="w-full text-lg font-semibold p-2 border border-gray-300 rounded-md mb-2" [(ngModel)]="exam.name" placeholder="Exam Name" />
            <input type="date" class="w-full text-gray-700 p-2 border border-gray-300 rounded-md mb-2" [(ngModel)]="exam.dueDate" placeholder="Exam Date" />
            <button class="bg-red-600 text-white rounded-md py-1 px-3 hover:bg-red-700 transition-all duration-300" (click)="removeExam(i)">Remove</button>
          </div>
          <div *ngIf="!isEditing">
            <h4 class="text-lg font-semibold text-gray-800">{{ exam.name }}</h4>
            <p class="text-gray-700 mt-2">Exam Date: {{ exam.dueDate | date:'fullDate' }}</p>
          </div>
        </div>
        <button *ngIf="isEditing" class="py-2 px-4 bg-green-600 text-white rounded-md hover:bg-green-700 transition-all duration-300" (click)="addExam()">Add Exam</button>
      </section>

      @if (getUserRole() === 'department_admin' || getUserRole() === 'instructor') {
      <section *ngIf="selectedTab === 'studentManagement'" class="space-y-6">
        <div class="flex justify-between items-center mb-6">
          <h3 class="text-2xl font-bold text-gray-800">Student Management</h3>
          <button
            class="py-2 px-4 bg-green-500 text-white rounded-md hover:bg-green-600 transition-all duration-300"
            (click)="openEnrollModal()"
          >
            Enroll a Student
          </button>
        </div>
      
        <div *ngIf="filteredEnrolledStudents.length > 0">
          <input
            type="text"
            class="w-full p-3 mb-4 border border-gray-300 rounded-md"
            placeholder="Search for students by name or email"
            [(ngModel)]="searchTerm"
            (input)="searchStudents()"
          />
      
          <div class="overflow-x-auto">
            <table class="min-w-full bg-white shadow rounded-lg">
              <thead class="bg-gray-200">
                <tr>
                  <th class="p-4 text-left font-medium text-gray-700">Name</th>
                  <th class="p-4 text-left font-medium text-gray-700">Email</th>
                  <th class="p-4 text-left font-medium text-gray-700">Progress</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let student of filteredEnrolledStudents"
                  class="border-b hover:bg-gray-100"
                >
                  <td class="p-4 text-gray-800">{{ student.name }}</td>
                  <td class="p-4 text-gray-800">{{ student.email }}</td>
                  <td class="p-4 text-gray-800">{{ student.progress }}%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="filteredEnrolledStudents.length === 0" class="text-gray-500">
          No enrolled students found.
        </div>
      
        <!-- Enroll Students Modal -->
        <div
          *ngIf="showEnrollModal"
          class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
        >
          <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-lg relative overflow-auto h-3/4">
            <div class="flex justify-between items-center mb-4">
              <h3 class="text-2xl font-semibold text-gray-800">Enroll Students</h3>
              <button
                class="text-red-600 hover:text-red-800 focus:outline-none"
                (click)="closeEnrollModal()"
              >
                <i class="fas fa-times"></i>
              </button>
            </div>
            <input
              type="text"
              class="w-full p-3 mb-4 border border-gray-300 rounded-md"
              placeholder="Search for students by name or email"
              [(ngModel)]="searchTerm"
              (input)="searchStudents()"
            />
            <div class="overflow-y-auto max-full">
              <table class="w-full text-left border-collapse">
                <thead>
                  <tr class="bg-gray-100">
                    <th class="border-b-2 border-gray-300 p-3 text-gray-600 font-medium">
                      Name
                    </th>
                    <th class="border-b-2 border-gray-300 p-3 text-gray-600 font-medium">
                      Email
                    </th>
                    <th class="border-b-2 border-gray-300 p-3 text-right"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of allUsers" class="hover:bg-gray-50">
                    <td class="border-b border-gray-200 p-3 text-gray-700">
                      {{ user.first_name }} {{ user.last_name }}
                    </td>
                    <td class="border-b border-gray-200 p-3 text-gray-700">{{ user.email }}</td>
                    <td class="border-b border-gray-200 p-3 text-right">
                      <button
                        class="bg-green-500 text-white rounded-full py-1 px-4 hover:bg-green-600 transition-all duration-300 focus:outline-none"
                        (click)="enrollStudent(user)"
                      >
                        Enroll
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="allUsers.length === 0">
                    <td colspan="3" class="text-center text-gray-500 p-3">
                      No users found.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    }
      
      

      <!-- Display Material Content -->
      <section *ngIf="selectedMaterial" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50" (click)="closeMaterialView()">
        <div class="bg-white rounded-lg shadow-md p-6 max-w-3xl w-full" (click)="$event.stopPropagation()">
          <button class="absolute top-2 right-2 text-red-600 hover:text-red-800" (click)="closeMaterialView()">
            <i class="fas fa-times"></i>
          </button>
          <h3 class="text-2xl font-bold mb-4">{{ selectedMaterial.title }}</h3>
          <ng-container [ngSwitch]="selectedMaterial.type">
            <div *ngSwitchCase="'pdf'" class="pdf-container">
              <pdf-viewer [src]="selectedMaterial.link" [render-text]="true" style="display: block;"></pdf-viewer>
            </div>
            <div *ngSwitchCase="'video'" class="video-container">
              <video width="100%" controls>
                <source [src]="selectedMaterial.link" type="video/mp4" />
                Your browser does not support the video tag.
              </video>
            </div>
            <div *ngSwitchDefault class="text-gray-500">Unsupported material type</div>
          </ng-container>
        </div>
      </section>
    </main>
  </div>


</div>

