<div class="container mx-auto p-4">
  <div class="flex flex-col lg:flex-row">
    <!-- Sidebar -->
    <div class="lg:w-1/4 w-full bg-white rounded-lg shadow-md p-6 mb-6 lg:mb-0">
      <h2 class="text-2xl font-bold mb-4">{{ course.course }}</h2>
      <div class="flex items-center mb-4">
        <img
          [src]="course.instructor_profile"
          alt="Instructor Profile"
          class="w-12 h-12 rounded-full mr-3"
        />
        <div>
          <p class="text-gray-800 font-semibold">{{ course.instructor }}</p>
          <p class="text-gray-500 text-sm">{{ course.enrolledStudents.length || 'N/A' }} Students | {{ course.modules.length }} Modules | {{ course.time }}</p>
        </div>
      </div>
      <ul class="mb-6">
        <li 
          *ngFor="let module of course.modules; let i = index" 
          class="mb-2 cursor-pointer"
          (click)="selectModule(i)"
        >
          <div 
            class="block text-gray-700 hover:text-green-600 p-2 rounded-lg"
            [ngClass]="{ 'bg-green-100 text-green-700': selectedModuleIndex === i, 'hover:bg-green-100': selectedModuleIndex !== i }"
          >
            {{ module.title }}
          </div>
        </li>
      </ul>
      <button 
        class="w-full bg-green-600 text-white rounded-md py-2 mt-4 hover:bg-green-700 transition"
        [disabled]="selectedModuleIndex >= course.modules.length - 1"
        (click)="goToNextModule()"
      >
        NEXT
      </button>
    </div>

    <!-- Main Content -->
    <div class="lg:w-3/4 w-full lg:ml-4">
      <!-- Editing Mode Toggle -->

      @if (getUserRole() === 'instructor') {
      <div class="flex justify-end mb-4">
        <button
          class="bg-blue-600 text-white rounded-md py-2 px-4 hover:bg-blue-700 transition"
          (click)="toggleEditing()"
        >
          {{ isEditing ? 'Save' : 'Edit' }}
        </button>
      </div>
    }

      <!-- Module Content -->
      <div class="bg-white rounded-lg shadow-md p-6 mb-6">
        <input
          *ngIf="isEditing"
          type="text"
          class="text-2xl font-bold mb-2 w-full border border-gray-300 rounded-md p-2"
          [(ngModel)]="course.modules[selectedModuleIndex].title"
        />
        <h2 *ngIf="!isEditing" class="text-2xl font-bold mb-2">
          {{ course.modules[selectedModuleIndex].title }}
        </h2>
        <textarea
          *ngIf="isEditing"
          class="text-gray-700 w-full border border-gray-300 rounded-md p-2"
          [(ngModel)]="course.modules[selectedModuleIndex].description"
        ></textarea>
        <p *ngIf="!isEditing" class="text-gray-700">
          {{ course.modules[selectedModuleIndex].description }}
        </p>
        <div class="mt-4">
          <textarea
            *ngIf="isEditing"
            class="text-gray-600 w-full border border-gray-300 rounded-md p-2"
            [(ngModel)]="course.modules[selectedModuleIndex].about"
          ></textarea>
          <p *ngIf="!isEditing" class="text-gray-600">
            {{ course.modules[selectedModuleIndex].about }}
          </p>
        </div>
      </div>

      <!-- Tab Navigation -->
      <div class="border-b border-gray-200 mb-4">
        <nav class="flex space-x-4">
          <button 
            (click)="selectTab('about')"
            [ngClass]="{ 'text-green-600': selectedTab === 'about', 'text-gray-500 hover:text-gray-900 pb-2 border-b-2 border-transparent hover:border-gray-900': selectedTab !== 'about' }">
            About
          </button>
          <button 
            (click)="selectTab('materials')"
            [ngClass]="{ 'text-green-600': selectedTab === 'materials', 'text-gray-500 hover:text-gray-900 pb-2 border-b-2 border-transparent hover:border-gray-900': selectedTab !== 'materials' }">
            Materials
          </button>
         @if (getUserRole() === 'instructor') {
          <button 
            (click)="selectTab('assignments')"
            [ngClass]="{ 'text-green-600': selectedTab === 'assignments', 'text-gray-500 hover:text-gray-900 pb-2 border-b-2 border-transparent hover:border-gray-900': selectedTab !== 'assignments' }">
            Assignments
          </button>
          <button 
            (click)="selectTab('exams')"
            [ngClass]="{ 'text-green-600': selectedTab === 'exams', 'text-gray-500 hover:text-gray-900 pb-2 border-b-2 border-transparent hover:border-gray-900': selectedTab !== 'exams' }">
            Exams
          </button>
          <button 
            (click)="selectTab('studentManagement')"
            [ngClass]="{ 'text-green-600': selectedTab === 'studentManagement', 'text-gray-500 hover:text-gray-900 pb-2 border-b-2 border-transparent hover:border-gray-900': selectedTab !== 'studentManagement' }">
            Student Management
          </button>
        }
        </nav>
      </div>

      <!-- Tab Content -->
      <div *ngIf="selectedTab === 'about'">
        <h3 class="text-xl font-bold mb-4">Course Overview</h3>
        <textarea
          *ngIf="isEditing"
          class="text-gray-700 w-full border border-gray-300 rounded-md p-2 mb-4"
          [(ngModel)]="course.modules[selectedModuleIndex].about"
        ></textarea>
        <p *ngIf="!isEditing" class="text-gray-700 mb-4">{{ course.modules[selectedModuleIndex].about }}</p>
      </div>

      <div *ngIf="selectedTab === 'materials'">
        <h3 class="text-xl font-bold mb-4">Materials</h3>
        <div 
          *ngFor="let material of course.modules[selectedModuleIndex].materials" 
          class="mb-4 p-4 border border-gray-200 rounded-lg flex items-center cursor-pointer" 
          (click)="selectMaterial(material)"
        >
          <div class="text-lg font-semibold text-gray-700 mr-4">
            <i class="fas" [ngClass]="getMaterialIcon(material.type)"></i>
          </div>
          <div class="flex-grow">
            <input
              *ngIf="isEditing"
              type="text"
              class="text-lg font-semibold text-black w-full border border-gray-300 rounded-md p-2"
              [(ngModel)]="material.title"
            />
            <h4 *ngIf="!isEditing" class="text-lg font-semibold text-black">
              {{ material.index }}. {{ material.title }}
            </h4>
          </div>
          <div class="text-sm text-gray-500 flex items-center">
            <button 
              *ngIf="!isEditing"
              (click)="downloadMaterial(material, $event)"
              class="text-blue-500 hover:text-blue-700 transition">
              <i class="fas fa-download"></i>
            </button>
            <input
              *ngIf="isEditing"
              type="file"
              (change)="replaceMaterialFile(material, $event)"
              class="ml-4"
            />
          </div>
        </div>
      </div>

      <div *ngIf="selectedTab === 'assignments'">
        <h3 class="text-xl font-bold mb-4">Assignments</h3>
        <div *ngFor="let assignment of course.modules[selectedModuleIndex].assignments; let i = index" class="mb-4 p-4 border border-gray-200 rounded-lg">
          <div *ngIf="isEditing">
            <input
              type="text"
              class="text-lg font-semibold w-full border border-gray-300 rounded-md p-2 mb-2"
              [(ngModel)]="assignment.name"
              placeholder="Assignment Name"
            />
            <input
              type="date"
              class="text-gray-700 w-full border border-gray-300 rounded-md p-2 mb-2"
              [(ngModel)]="assignment.dueDate"
              placeholder="Due Date"
            />
            <button class="bg-red-600 text-white rounded-md py-1 px-3 hover:bg-red-700 transition"
              (click)="removeAssignment(i)">Remove</button>
          </div>
          <div *ngIf="!isEditing">
            <h4 class="text-lg font-semibold">{{ assignment.name }}</h4>
            <p class="text-gray-700 mb-2">Due Date: {{ assignment.dueDate | date:'fullDate' }}</p>
          </div>
        </div>
        <button *ngIf="isEditing" class="bg-green-600 text-white rounded-md py-1 px-3 hover:bg-green-700 transition"
          (click)="addAssignment()">Add Assignment</button>
      </div>

      <div *ngIf="selectedTab === 'exams'">
        <h3 class="text-xl font-bold mb-4">Exams</h3>
        <div *ngFor="let exam of course.modules[selectedModuleIndex].exams; let i = index" class="mb-4 p-4 border border-gray-200 rounded-lg">
          <div *ngIf="isEditing">
            <input
              type="text"
              class="text-lg font-semibold w-full border border-gray-300 rounded-md p-2 mb-2"
              [(ngModel)]="exam.name"
              placeholder="Exam Name"
            />
            <input
              type="date"
              class="text-gray-700 w-full border border-gray-300 rounded-md p-2 mb-2"
              [(ngModel)]="exam.dueDate"
              placeholder="Exam Date"
            />
            <button class="bg-red-600 text-white rounded-md py-1 px-3 hover:bg-red-700 transition"
              (click)="removeExam(i)">Remove</button>
          </div>
          <div *ngIf="!isEditing">
            <h4 class="text-lg font-semibold">{{ exam.name }}</h4>
            <p class="text-gray-700 mb-2">Exam Date: {{ exam.dueDate | date:'fullDate' }}</p>
          </div>
        </div>
        <button *ngIf="isEditing" class="bg-green-600 text-white rounded-md py-1 px-3 hover:bg-green-700 transition"
          (click)="addExam()">Add Exam</button>
      </div>

      <div *ngIf="selectedTab === 'studentManagement'">
        <h3 class="text-xl font-bold mb-4">Student Management</h3>
        
        <div class="mb-4">
          <input 
            type="text" 
            class="w-full p-2 border border-gray-300 rounded-md" 
            placeholder="Search for students by name or email" 
            [(ngModel)]="searchTerm" 
            (input)="searchStudents()"
          />
        </div>
      
        <button 
          class="bg-green-600 text-white rounded-md py-2 px-4 hover:bg-green-700 transition mb-4"
          (click)="openEnrollModal()"
        >
          Enroll a Student
        </button>
      
        <div *ngIf="course.enrolledStudents.length > 0">
          <h4 class="text-lg font-semibold mb-2">Enrolled Students</h4>
          <table class="w-full text-left border-collapse">
            <thead>
              <tr>
                <th class="border-b-2 border-gray-300 p-2">Name</th>
                <th class="border-b-2 border-gray-300 p-2">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let student of course.enrolledStudents">
                <td class="border-b border-gray-300 p-2">{{ student.name }}</td>
                <td class="border-b border-gray-300 p-2">{{ student.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div *ngIf="course.enrolledStudents.length === 0" class="text-gray-500">No enrolled students found.</div>
      
        <!-- Enroll Students Modal -->
        <div *ngIf="showEnrollModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
          <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-lg relative overflow-auto h-3/4">
            <div class="flex justify-between items-center mb-4">
              <h3 class="text-2xl font-semibold text-gray-800">Enroll Students</h3>
              <button 
                class="text-red-600 hover:text-red-800 focus:outline-none"
                (click)="closeEnrollModal()">
                <i class="fas fa-times"></i>
              </button>
            </div>
            
            <div class="overflow-y-auto max-full">
              <input 
                type="text" 
                class="w-full p-2 mb-4 border border-gray-300 rounded-md" 
                placeholder="Search for students by name or email" 
                [(ngModel)]="searchTerm" 
                (input)="searchStudents()"
              />
              <table class="w-full text-left border-collapse">
                <thead>
                  <tr class="bg-gray-100">
                    <th class="border-b-2 border-gray-300 p-3 text-gray-600 font-medium">Name</th>
                    <th class="border-b-2 border-gray-300 p-3 text-gray-600 font-medium">Email</th>
                    <th class="border-b-2 border-gray-300 p-3 text-right"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of allUsers" class="hover:bg-gray-50">
                    <td class="border-b border-gray-200 p-3 text-gray-700">{{ user.first_name }} {{ user.last_name }}</td>
                    <td class="border-b border-gray-200 p-3 text-gray-700">{{ user.email }}</td>
                    <td class="border-b border-gray-200 p-3 text-right">
                      <button 
                        class="bg-green-500 text-white rounded-full py-1 px-4 hover:bg-green-600 transition focus:outline-none"
                        (click)="enrollStudent(user)">
                        Enroll
                      </button>
                    </td>
                  </tr>
                  <tr *ngIf="allUsers.length === 0">
                    <td colspan="3" class="text-center text-gray-500 p-3">No users found.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      

      <!-- Display Material Content -->
      <div 
        *ngIf="selectedMaterial" 
        class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
        (click)="closeMaterialView()"
      >
        <div 
          class="bg-white rounded-lg shadow-md p-6 max-w-3xl w-full"
          (click)="$event.stopPropagation()"
        >
          <button 
            class="absolute top-2 right-2 text-red-600 hover:text-red-800"
            (click)="closeMaterialView()">
            <i class="fas fa-times"></i>
          </button>
          <h3 class="text-2xl font-bold mb-4">{{ selectedMaterial.title }}</h3>
          <ng-container [ngSwitch]="selectedMaterial.type">
            <div *ngSwitchCase="'pdf'" class="pdf-container">
              <pdf-viewer [src]="selectedMaterial.link" [render-text]="true" style="display: block;"></pdf-viewer>
            </div>
            <div *ngSwitchCase="'video'" class="video-container">
              <video width="100%" controls>
                <source [src]="selectedMaterial.link" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </div>
            <div *ngSwitchDefault class="text-gray-500">Unsupported material type</div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
