<div class="w-80 p-4">
    <h2 class="text-2xl font-semibold">Update and Manage Your Account</h2>
    <ul class="mt-2">
        <li (click)="editProfile()" class="font-semibold w-full px-4 py-2.5  my-4 hover:bg-gray-100 rounded cursor-pointer select-none">
            <i class="fa-regular fa-user text-gray-400"></i>
            <span class="ml-4">
                Edit Profile
            </span>
        </li>
        <li (click)="accountSetting()" class="font-semibold w-full px-4 py-2.5 my-4 hover:bg-gray-100 rounded cursor-pointer select-none">
            <i class="fa-solid fa-gear text-gray-400"></i>
            <span class="ml-4">
                Account Setting
            </span>
        </li>
        <li (click)="notification()" class="font-semibold w-full px-4 py-2.5 my-4 hover:bg-gray-100 rounded cursor-pointer select-none">
            <i class="fa-regular fa-bell text-gray-400"></i>
            <span class="ml-4">
                Notification
            </span>
        </li>
        <li (click)="helpdesk()"  class="font-semibold w-full px-4 py-2.5 my-4 hover:bg-gray-100 rounded cursor-pointer select-none">
            <i class="fa-regular fa-circle-question"></i>
            <span class="ml-4">
                Helpdesk
            </span>
        </li>

        <li (click)="logout()" class="font-semibold w-full px-4 py-2.5 mt-6 hover:bg-red-300 bg-red-400 rounded cursor-pointer select-none flex justify-center">
            <span class="text-white">
                Logout
            </span>
        </li>
    </ul>
</div>