.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Make sure the main container takes full height */
}

.content {
  flex: 1;
  overflow-y: auto;
  /* Ensure the content area is scrollable */
}
